<form>
  <div class="form-group card">
    <div class="card-body">
      <label for="operandoA" class="my-3 mx-3 fw-bold display-7"
        >Operando A</label
      >
      <input
        type="number"
        name="OperandoA"
        id="operandoA"
        class="form-control"
        placeholder="Ingresa Operando A"
        [(ngModel)]="operandoA"
      />
      <label for="operandoB" class="my-3 mx-3 fw-bold display-7"
        >Operando B</label
      >
      <input
        type="number"
        name="OperandoB"
        id="operandoB"
        class="form-control"
        placeholder="Ingresa Operando B"
        [(ngModel)]="operandoB"
      />
      <!-- <br />
      <label for="operando" class="my-3 mx-3 fw-bold">Operando</label>
      <select
        name="Operando"
        id="operando"
        class="form-control"
        (change)="selectChangeHandler($event)"
      >
        <option value="Vacio"></option>
        <option value="Sumar">+</option>
        <option value="Restar">-</option>
        <option value="Dividir">/</option>
        <option value="Multiplicar">*</option>
        <option value="Resto">%</option>
      </select> -->
      <!-- If we would like to have a button to perform the action, we would use the event binding (click) with it's corresponding function -->
      <button
        type="submit"
        class="btn btn-primary my-3 w-100"
        (click)="sumar()"
      >
        Realizar Suma
      </button>
    </div>
  </div>
</form>
